version: "3.9"

services:
  guardian:
    build: .
    ports:
      - "8000:8000"
    mem_limit: 512m
    cpus: 0.5

  prometheus:
    image: prom/prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    depends_on:
      - guardian

  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"
    depends_on:
      - prometheus
